.backdrop {
  position: fixed; /* Stay in place */
  display: flex;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0.5, 0.6); /* Black w/ opacity */
}

.notification {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 2;
}

.notification h2 {
  font-size: var(--size-6);
  margin: 0;
}

.notification p {
  margin: 0;
}

.success {
  background-color: var(--color-success-500);
  color: var(--color-grey-800);
}

.error {
  background-color: var(--color-error-500);
}

@media (min-width: 768px) {
  .notification {
    width: 40rem;
    left: calc(50% - 20rem);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}
